<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic Prediction App</title>
    <link rel="stylesheet" href="static/home.css">
</head>
<body>
    <div id="map-bg"></div>

    <div class="container">
        <h1>Traffic Prediction App</h1>
        <p>Select an option below to get traffic insights:</p>
        <div class="links">
            <a href="/traffic_prediction" class="link-box">Best Route & Traffic Prediction</a>
            <a href="/accident_info" class="link-box">Accident Info</a>
        </div> 
    </div> 

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="static/home.js"></script>
</body>
</html>
